<h1>Услуги</h1>
<h3>@Model.currCategory</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var service in Model.AllServices)
            {

                <tr>
                    <td>@service.serviceName</td>
                    <td>@service.servicePrice.ToString("c")</tr>

            }
        }
    </tbody>
</table>



